@import "../../common/styles/scss";
.App {
  width: 100vw;
  height: 100vh;
  background-color: $bg_color;
  overflow: hidden;
  .header {
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      color: $theme_color;
    }
  }
}
