@import "../../common/styles/scss/index.scss";
.memoItem_wrap {
  .clear_done {
      text-align: right;
      font-size: 16px;
      color:$theme_color;
  }

  // 未完成样式
  .memo_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    .input_wrap {
      display: flex;
      align-items: center;
      .icon {
        padding-left: 10px;
        color: $theme_color;
      }
      .text {
        padding-left: 10px;
        font-size: 14px;
      }
    }
    .date {
      margin-left: auto;
      padding-right: 10px;
    }
    .delete_btn {
      font-size: 16px;
      color: $light_gray;
    }
  }
  // 完成样式
  .finished {
    .input_wrap {
      .icon {
        color: $lighter_gray;
      }
      .text {
        text-decoration: line-through;
        color: $lighter_gray;
        font-style: italic;
      }
    }
    .date {
      color: $lighter_gray;
    }
  }
  // 复选框初始化样式
  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    background-color: $white;
    -webkit-appearance: none;
    border: 1px solid $theme_color;
    border-radius: 2px;
    outline: none;
  }

  // 复选框选中样式
  input[type="checkbox"]:checked::before {
    display: block;
    content: "\2714";
    text-align: center;
    font-size: 16px;
    color: $theme_color;
  }
}
