@import "../../common/styles/scss/index.scss";
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px 80px;
  width: 100vw;
  height: 60px;
  background-color: $white;

  // 添加按钮
  .add_btn {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -35px;
    margin-top: -35px;
    padding: 8px;
    width: 70px;
    height: 70px;
    background: $white;
    border-radius: 50%;
    .btn {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: $light_orange;
      box-shadow: 0 0 2px 1px #d1d0d0;
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -10px;
        margin-top: -1.5px;
        display: inline-block;
        width: 20px;
        height: 3px;
        background-color: $white;
        border-radius: 15px;
      }
      &::after {
        transform: rotateZ(90deg);
      }
    }
  }

  // 标签栏
  .lists {
    display: flex;
    justify-content: space-between;
    .lists_item {
      text-align: center;
      color: $light_black;
      .icon {
        padding-bottom: 5px;
        font-size: 22px;
      }
    }
    // 选中样式
    .selected {
      color: $theme_color;
    }
  }
}
